<div class = "row"></div>
  <div class= "col-md-10 middle">
      <h1>ログイン</h1>
    <div class = "margin-vertical">

      <%= form_for(:session, url: login_path, method: :post) do |f| %>
      <%= f.label "名前" %><span style = "color:red">*</span><span id = "password-icon-toggle" class = "fas fa-eye fa-eye-slash"></span>
        <%= f.text_field :name, required: true,  type: "name", class: "password-form form-control"  %><br />
        <%= f.label "パスワード" %>
        <%= f.text_field :password, required: true,  type: "password", class: "password-form form-control"  %><br />
          <%= f.submit "ログイン" ,class:" col-md-3 btn btn-primary", style:"margin-bottom:15px"%>
       <% end %>

    </div>

</div>
