<div class="col-md-6">
  <div class="card margin-vertical">
      <%= image_tag "articles/#{article.thumbnail_image}", style: "height: 300px"%>
  <div class="article-content center">
    <%= link_to article_path(article) do %>
      <h3 class = "margin-vertical"><%= article.title %></h3>
    <% end %>
    <div class="margin-vertical">
      <%= render article.categories %><br />
    </div>

    <span class = "right"><%= l article.created_at %></span>

  </div>
  </div>

</div>
