
<div class="">
  <div class="article-display pd">

    <h2 class = "center"><%= @article.title %></h2>

    <div class="margin-vertical">
      <%= image_tag "articles/#{@article.thumbnail_image}", class: "w-100" %>
    </div>
    <div class="">
      <%= markdown(@article.content) %>
    </div>

    <div class="margin-vertical", style = "height:50px">
      <h6>カテゴリー</h6>
      <%= render @article.categories %>
    </div>
    <%= render "shared/actions", obj: @article, action: "article" %>

    </div>

    <div class="relational-articles margin-vertical">
      <h2>関連記事</h2>
        <% @relational_articles.each do |article| %>
        <%= render "parrarel_article", article: article %>
        <% end %>
      </div>
</div>
