<div class="side-bar middle pd col-sm-10", style = "background-color: white">
  <div class="center">
    <img src="https://purchase-app-backet.s3.amazonaws.com/uploads/user-default.png" class="img-thumbnail" style="width: 200px; border-radius: 1000px" alt="Something">
    <%= link_to about_path do %><h3>名前</h3><% end %>
    <p>こんにちはあいうえおです。このブログではプログラミングの学習方法などについてアウトプットしていきます。</p>
  </div>
  <div class="icon-links center">
    <ul>
      <li class = ""><a href = "https://github.com/ichihara-development-github"><span class = "fab fa-github fa-2x"></span></a></li>
      <li class = "pd"><a href = ""><span class = "fab fa-twitter fa-2x"></span></a></li>
      <li class = ""><a href = ""><span class = "fab fa-youtube fa-2x"></span></a></li>
    </ul>
  </div>
  <div class="">
    <ul class = "navbar-nav">
      <li class="pd side-bar-item"><%= link_to "カテゴリー", categories_path %></li>
      <li class="pd margin-vertical side-bar-item">
        <%= link_to "人気記事", articles_path%>
      </li>
      <li class="pd side-bar-item"><%= link_to "最新記事", latest_article_path %></li>
      <li class="pd side-bar-item margin-vertical" id = "slide_btn"><span class = "slide-toggle">投稿日別 ∇</span></li>
      <ul class = "hide"><% articles_group_by_date %>
        <% @counts.each do |key, value| %>
        <li class = "pd side-bar-item">
          <span class = "pd-10"><%= link_to group_index_path(:date => key) do %><%= key %><% end %>
          </span>
          <span class = "pd-10"><%= value %> 記事</span>
        </li>
        <% end %>
      </ul>
    </ul>
    </div>

</div>
